@import 'partials/navbar';
@import 'partials/body';
@import 'partials/home';
@import 'partials/projects';
@import 'partials/social';
@import 'partials/footer';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
