nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  z-index: 10;
  background-color: #93c2fa;
  /*background-image: linear-gradient(
		to bottom,
		#93c2fa,
		#93c2fa,
		#ffffff
	);*/
  display: flex;
  /*Profile picture*/
}

nav img {
  margin: auto 0;
  margin-left: 5%;
  width: 70px;
  height: 60px;
  border-radius: 30%;
  /*	border: 3px solid rgba(0, 0, 0, 0.3);*/
}

nav #open {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  padding-left: 10px;
  margin: auto 0;
  margin-right: 7%;
  text-align: right;
  font-size: 40px;
  line-height: 50px;
}

#toggle {
  display: none;
  width: 10px;
}

#toggle:checked ~ .menu-items {
  display: block;
}

.menu-items {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#93c2fa), color-stop(#93c2fa), color-stop(#93c2fa), color-stop(#93c2fa), to(#ffffff));
  background-image: linear-gradient(to top left, #93c2fa, #93c2fa, #93c2fa, #93c2fa, #ffffff);
  position: relative;
  padding-top: 50px;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  display: none;
}

.menu-items a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-weight: bolder;
}

.menu-items a:hover {
  background-color: #000000;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 10px;
  color: #ffffff;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media screen and (max-width: 850px) {
  .menu-items a {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  nav {
    font-size: 18px;
  }
  nav label {
    display: none;
  }
  nav img {
    width: 60px;
  }
  .current-page-link {
    text-decoration: overline;
  }
  .menu-items {
    position: relative;
    background-image: none;
    height: 90px;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.3rem;
  }
  .menu-items a {
    display: block;
    padding: 0;
    margin: 0;
    height: 90px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
  }
  .menu-items a:hover {
    padding-top: 30px;
    color: #ffffff;
    background-color: #000000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
}

@media screen and (min-width: 992px) {
  nav {
    font-size: 24px;
  }
  .menu-items {
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body {
  position: relative;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
}

button:hover {
  background-color: #7a7a7a;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.themes-container {
  position: absolute;
  height: 100px;
  width: 50px;
  right: 5%;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#modes {
  opacity: 0.2;
}

#modes:hover {
  opacity: 1;
}

#moon {
  display: none;
  opacity: 0.5;
}

#moon:hover {
  opacity: 1;
}

#sun {
  display: none;
  opacity: 0.5;
}

#sun:hover {
  opacity: 1;
}

#waves {
  position: absolute;
  bottom: 149px;
  left: 0;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
}

.h1-home {
  text-align: center;
  position: relative;
  margin-top: 30%;
}

.h3-home {
  position: relative;
  margin-top: 10%;
}

.section-home {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 30%;
  text-align: center;
}

.btn-home {
  height: 50px;
  width: 200px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .home-page-hight {
    min-height: 1024px;
  }
  .h1-home {
    margin-top: 20%;
  }
  .section-home {
    margin-top: 20%;
  }
}

@media screen and (min-width: 992px) {
  .home-page-hight {
    min-height: 638px;
  }
  .h1-home {
    margin-top: 5%;
  }
  .h3-home {
    position: relative;
    margin-top: 2%;
  }
  .section-home {
    margin-top: 5%;
  }
}

.about-page-hight {
  min-height: 1180px;
}

/* Styling about section */
.btn-about {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 5%;
}

.h1-about {
  margin-top: 10%;
}

.p-about {
  margin: 0 15px;
  padding-top: 20px;
  line-height: 25px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about-page-hight {
    min-height: 1200px;
  }
  .p-about {
    margin: 0 50px;
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (min-width: 992px) {
  .about-page-hight {
    min-height: 1000px;
  }
  .h1-about {
    margin: 3% 0;
  }
  .btn-about {
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 3%;
  }
  .p-about {
    margin: 0 150px;
    line-height: 30px;
    margin-top: 0;
  }
}

.h1-projects {
  margin: 10% 0;
}

.project-page-hight {
  height: 2600px;
}

.project-box {
  width: 90%;
  margin: 20px auto;
  padding: 5%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#93c2fa), color-stop(#93c2fa), to(#ffffff));
  background-image: linear-gradient(to top left, #93c2fa, #93c2fa, #ffffff);
  border-radius: 10px;
}

.project-text {
  width: 100%;
  text-align: left;
  line-height: 25px;
  padding: 15px 0;
}

.project-img {
  width: 100%;
}

.project-btn {
  width: 60%;
  height: 40px;
  margin: 5% auto;
}

@media screen and (min-width: 768px) {
  .h1-projects {
    margin: 5% 0;
  }
  .project-page-hight {
    height: 3600px;
  }
  .project-box {
    margin: 30px auto;
  }
  .project-text {
    text-align: left;
    line-height: 35px;
    font-size: 24px;
    padding: 30px 0;
  }
  .project-btn {
    width: 60%;
    height: 40px;
    margin: 5% auto;
  }
}

@media screen and (min-width: 992px) {
  .h1-projects {
    margin: 3% 0;
  }
  .project-page-hight {
    height: 2700px;
  }
  .project-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-text {
    text-align: left;
    line-height: 35px;
    font-size: 24px;
    padding: 30px 0;
  }
  .project-img {
    padding-top: 15%;
    padding-left: 20px;
  }
  .project-col-6 {
    width: 50%;
  }
}

.blog-page-hight {
  min-height: 2700px;
}

.h1-blog {
  margin: 10% 0;
}

.h2-blog {
  color: #000000;
  margin: 0 auto;
  width: 90%;
}

.blog-box {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#93c2fa), color-stop(#93c2fa), to(#ffffff));
  background-image: linear-gradient(to top left, #93c2fa, #93c2fa, #ffffff);
  width: 90%;
  border-radius: 10px;
  margin: 20px auto;
}

.blog-box:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.8;
}

.blog-img {
  padding: 15px 5%;
  width: 100%;
}

.blog-topic {
  display: inline-block;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin-left: 40%;
  margin-top: 15px;
}

.blog-date {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
  padding-right: 15px;
}

.blog-text {
  padding: 15px 5%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .blog-page-hight {
    min-height: 2100px;
  }
  .h1-blog {
    margin: 10% 0 5% 0;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col-s-6 {
    width: 300px;
  }
  .h2-blog {
    color: #000000;
  }
  .blog-box {
    margin: 20px;
  }
  .blog-img {
    padding: 15px;
    width: 100%;
  }
  .blog-topic {
    display: inline-block;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
  }
  .blog-date {
    color: #000000;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: right;
    padding-right: 15px;
  }
  .blog-text {
    padding: 15px;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .blog-page-hight {
    min-height: 1470px;
  }
  .h1-blog {
    margin: 3% 0;
  }
  .col-4 {
    width: 280px;
  }
}

.blogposts-page-hight {
  min-height: 3300px;
}

.blogposts-box {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#93c2fa), color-stop(#93c2fa), to(#ffffff));
  background-image: linear-gradient(to top left, #93c2fa, #93c2fa, #ffffff);
  width: 90%;
  border-radius: 10px;
  margin: 20px auto;
}

.blogposts-text {
  line-height: 30px;
  padding: 20px 15px;
  text-align: left;
}

.h2-blogposts {
  padding: 5px 15px;
}

.blogposts-img {
  width: 90%;
  margin: 20px auto;
}

.nav-blogposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}

.btn-blogposts {
  width: 200px;
  height: 50px;
}

.arrow {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .blogposts-page-hight {
    min-height: 3150px;
  }
  .h2-blogposts {
    padding: 5px 5%;
  }
  .blogposts-img {
    width: 90%;
    margin: 30px auto;
  }
  .nav-blogposts {
    width: 90%;
    margin: 15px auto;
  }
  .col-12 {
    width: 90%;
  }
  .blogposts-text {
    font-size: 24px;
    line-height: 35px;
    padding: 5%;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .blogposts-page-hight {
    min-height: 2850px;
  }
  .blogposts-img {
    width: 80%;
    margin: 5% auto;
  }
  .nav-blogposts {
    width: 30%;
    margin: 5% auto;
  }
  .col-12 {
    width: 80%;
  }
  .blogposts-text {
    line-height: 35px;
  }
}

.h1-resume {
  margin: 10% 0;
}

.resume-text {
  font-size: 16px;
  line-height: 25px;
  padding: 5%;
  text-align: left;
}

.resume-btn {
  width: 200px;
  height: 40px;
}

.resume-page-hight {
  height: 2530px;
}

.skills-box {
  background-color: #d9d9d9;
  width: 90%;
  margin: 10% auto;
  border-radius: 10px;
  height: 1580px;
}

.h1-skills {
  padding: 10% 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-6 {
  width: 50%;
  padding-top: 30px;
}

.skills-img {
  width: 60px;
  height: 60px;
  margin: auto auto;
}

.skills-img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.skills-img-box:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
  opacity: 0.8;
}

.label {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: bolder;
}

.skills-btn {
  width: 120px;
  height: 30px;
  opacity: 0;
  padding: auto;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
}

.skills-btn:hover {
  background-color: #7a7a7a;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

#html5:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#html5:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#css3:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#css3:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#js:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#js:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#react:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#react:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#react:hover .skills-img {
  -webkit-animation: rotationX 1.5s;
          animation: rotationX 1.5s;
}

#nodejs:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#nodejs:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#php:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#php:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#mongodb:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#mongodb:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#mysql:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#mysql:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#sass:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#sass:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#bootstrap:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#bootstrap:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#materialui:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#materialui:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#materialize:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#materialize:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#firebase:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#firebase:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#adobe:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#adobe:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#vscode:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#vscode:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#git:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#git:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#trello:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#trello:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

#slack:hover .skills-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
}

#slack:hover .skills-btn {
  opacity: 1;
  margin: auto;
}

@-webkit-keyframes rotation {
  0% {
    /*transform: rotateY(0deg);*/
  }
  20% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  70% {
    -webkit-transform: rotateY(359deg);
            transform: rotateY(359deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotation {
  0% {
    /*transform: rotateY(0deg);*/
  }
  20% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  70% {
    -webkit-transform: rotateY(359deg);
            transform: rotateY(359deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes rotationX {
  0% {
    /*transform: rotateY(0deg);*/
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotationX {
  0% {
    /*transform: rotateY(0deg);*/
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (min-width: 600px) {
  .h1-skills {
    padding: 5% 0;
  }
  .col-6 {
    width: 33.33%;
  }
  .resume-page-hight {
    height: 2100px;
  }
  .skills-box {
    height: 1100px;
  }
}

@media screen and (min-width: 768px) {
  .resume-page-hight {
    height: 1900px;
  }
  .h1-resume {
    margin: 5% 0;
  }
  .resume-text {
    font-size: 20px;
    line-height: 30px;
    padding: 0% 5% 5% 5%;
    text-align: left;
  }
  .resume-btn {
    height: 40px;
  }
  .h1-skills {
    padding: 3% 0;
  }
  .col-6 {
    width: 25%;
  }
  .skills-box {
    height: 950px;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .resume-page-hight {
    height: 1720px;
  }
  .h1-resume {
    margin: 3% 0;
  }
  .resume-text {
    font-size: 20px;
    line-height: 30px;
    padding: 0% 10% 2% 10%;
    text-align: left;
  }
  .skills-box {
    height: 820px;
    width: 80%;
    margin: 5% auto;
  }
  .col-6 {
    width: 20%;
  }
}

.h1-contact {
  margin: 10% 0;
}

.contact-page-hight {
  min-height: 100vh;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.contact-label {
  text-align: left;
  padding-top: 20px;
  font-weight: bold;
}

textarea {
  padding: 10px;
}

section input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
}

.contact-button {
  width: 200px;
  height: 50px;
  margin: 40px auto;
}

@media screen and (min-width: 768px) {
  .h1-contact {
    margin: 5% 0;
  }
  section input {
    height: 50px;
  }
  .contact-button {
    margin: 40px auto;
  }
}

@media screen and (min-width: 992px) {
  .h1-contact {
    margin: 3% 0 0 0;
  }
  .contact-label {
    text-align: left;
    padding-top: 10px;
  }
  section input {
    height: 50px;
  }
  .contact-button {
    margin: 40px auto;
  }
  .contact-container {
    width: 40%;
  }
}

.social-network-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 150px;
  font-size: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #93c2fa;
  z-index: -5;
}

.social {
  width: 40px;
}

@media screen and (min-width: 767px) {
  .social-network-icons {
    width: 40%;
  }
  .social {
    width: 60px;
  }
}

.footer {
  position: absolute;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 150px;
  bottom: 0px;
  height: 150px;
  background-color: #93c2fa;
  z-index: -5;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 60%;
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */