@import 'colors';

.blog-page-hight {
	min-height: 2700px;
}
.h1-blog {
	margin: 10% 0;
}
.h2-blog {
	color: $primary;
	margin: 0 auto;
	width: 90%;
}
//blog cards - list of blogs
.blog-box {
	background-image: linear-gradient(
		to top left,
		$warning,
		$warning,
		$secondary
	);
	width: 90%;
	border-radius: 10px;
	margin: 20px auto;
	&:hover {
		opacity: 0.7;
	}
}
//card image
.blog-img {
	padding: 15px 5%;
	width: 100%;
}
.blog-topic {
	display: inline-block;
	background-color: $primary;
	border-radius: 10px;
	color: $secondary;
	width: 80px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	margin-left: 40%;
	margin-top: 15px;
}
.blog-date {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
	padding-right: 15px;
}
.blog-text {
	padding: 15px 5%;
	text-align: left;
}

@media screen and (min-width: 768px) {
	//tablet layout
	.blog-page-hight {
		min-height: 2100px;
	}
	.h1-blog {
		margin: 10% 0 5% 0;
	}
	.row {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.col-s-6 {
		width: 300px;
	}

	.h2-blog {
		color: $primary;
	}
	.blog-box {
		margin: 20px;
	}
	.blog-img {
		padding: 15px;
		width: 100%;
	}
	.blog-topic {
		display: inline-block;
		background-color: $primary;
		border-radius: 10px;
		color: $secondary;
		width: 80px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		text-align: center;
		margin-left: 0px;
		margin-top: 15px;
	}
	.blog-date {
		color: $primary;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		text-align: right;
		padding-right: 15px;
	}
	.blog-text {
		padding: 15px;
		text-align: left;
	}
}

@media screen and (min-width: 992px) {
	//desktop layout
	.blog-page-hight {
		min-height: 1470px;
	}
	.h1-blog {
		margin: 3% 0;
	}

	.col-4 {
		width: 280px;
	}
}
