@import 'colors';

body {
	position: relative;
	background-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	height: 100%;
	min-height: 100%;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
	font-weight: bold;
}
h3 {
	font-size: 16px;
	font-weight: bold;
}

//pre-styled generic button
button {
	background-color: $primary;
	color: $secondary;
	border-radius: 10px;
	&:hover {
		background-color: $hovering;
	}
}
// themes components
.themes-container {
	position: absolute;
	height: 100px;
	width: 50px;
	right: 5%;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#modes {
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}
#moon {
	display: none;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
#sun {
	display: none;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

#waves {
	position: absolute;
	bottom: 149px;
	left: 0;
	z-index: -5;
}
@media screen and (min-width: 768px) {
	//tablet layout
	h1 {
		font-size: 32px;
		font-weight: bold;
	}
	h2 {
		font-size: 28px;
		font-weight: bold;
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
	}
}
