body {
	background-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
h1 {
	font-size: 32px;
}

.themes-container {
	position: absolute;
	height: 100px;
	width: 50px;
	right: 15px;
	top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#modes {
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}
#moon {
	display: none;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
#sun {
	display: none;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

#waves {
	position: fixed;
	bottom: 149px;
	left: 0;
	z-index: -5;
}
