.footer {
	position: absolute;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 150px;
	bottom: 0px;
	height: 150px;
	background-color: #93c2fa;
	z-index: -5;
}

@media screen and (min-width: 768px) {
	.footer {
		width: 60%;
	}
}
