@import 'colors';

.h1-home {
	text-align: center;
	position: relative;
	margin-top: 30%;
}

.h3-home {
	position: relative;
	margin-top: 10%;
}
//home page section
.section-home {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}

.btn-home {
	height: 50px;
	width: 200px;
	margin-top: 10px;
}
@media screen and (min-width: 768px) {
	//tablet layout
	.home-page-hight {
		min-height: 1024px;
	}
	.h1-home {
		margin-top: 20%;
	}

	.section-home {
		margin-top: 20%;
	}
}

@media screen and (min-width: 992px) {
	//desktop layout
	.home-page-hight {
		min-height: 638px;
	}
	.h1-home {
		margin-top: 5%;
	}
	.h3-home {
		position: relative;
		margin-top: 2%;
	}

	.section-home {
		margin-top: 5%;
	}
}
