@import 'colors';

h1 {
	text-align: center;
	position: relative;
	margin-top: 30%;
}

h3 {
	position: relative;
	margin-top: 10%;
}

section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}
button {
	background-color: $primary;
	height: 50px;
	width: 200px;
	color: $secondary;
	font-size: 16px;
	border-radius: 10px;
	margin-top: 10px;
	&:hover {
		background-color: $warning;
		border: 2px solid $warning;
		color: $primary;
	}
}
@media screen and (min-width: 768px) {
	h1 {
		margin-top: 20%;
	}

	section {
		margin-top: 20%;
	}
}

@media screen and (min-width: 900px) {
	h1 {
		margin-top: 10%;
	}
	h3 {
		position: relative;
		margin-top: 2%;
	}

	section {
		margin-top: 10%;
	}
}
