h1 {
	text-align: center;
	position: relative;
	margin-top: 30%;
}

h3 {
	position: relative;
	margin-top: 10%;
}

section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 40%;
	text-align: center;
}
button {
	background-color: black;
	height: 50px;
	width: 200px;
	color: #ffffff;
	font-size: 16px;
	border-radius: 10px;
	margin-top: 10px;
}
