@import 'colors';

//Header Navbar
nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 90px;
	z-index: 10;
	background-color: #93c2fa;
	/*background-image: linear-gradient(
		to bottom,
		#93c2fa,
		#93c2fa,
		#ffffff
	);*/
	display: flex;
	/*Profile picture*/
	img {
		margin: auto 0;
		margin-left: 5%;
		width: 70px;
		height: 60px;
		border-radius: 30%;
		/*	border: 3px solid rgba(0, 0, 0, 0.3);*/
	}
	//Sandwich toggle Sidebar
	#open {
		box-sizing: border-box;
		color: #000000;
		padding-left: 10px;
		margin: auto 0;
		margin-right: 7%;
		text-align: right;
		font-size: 40px;
		line-height: 50px;
	}
}
#toggle {
	display: none;
	width: 10px;
}

#toggle:checked ~ .menu-items {
	display: block;
}

//Sidebar - only for mobile layout
.menu-items {
	background-image: linear-gradient(
		to top left,
		#93c2fa,
		#93c2fa,
		#93c2fa,
		#93c2fa,
		#ffffff
	);
	position: relative;
	padding-top: 50px;
	width: 70%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;

	a {
		display: block;
		color: #000000;
		text-align: center;
		padding: 20px;
		width: 100%;
		height: 60px;
		text-decoration: none;
		transition: 0.5s ease-in-out;

		font-weight: bolder;
		&:hover {
			background-color: $primary;
			width: 80%;
			margin: 0 auto;
			padding-top: 15px;
			border-radius: 10px;
			color: $secondary;
			transform: translateY(-12px);
		}
		@media screen and (max-width: 850px) {
			font-size: 1em;
		}
	}
	display: none;
}

@media screen and (min-width: 768px) {
	//tablet layout
	nav {
		font-size: 18px;
		label {
			display: none;
		}
		img {
			width: 60px;
		}
	}
	.current-page-link {
		text-decoration: overline;
		&:hover {
		}
	}
	//navbar for tablet layout
	.menu-items {
		position: relative;
		background-image: none;
		height: 90px;
		width: 75%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		flex-direction: row;
		font-size: 1.3rem;

		a {
			display: block;
			padding: 0;
			margin: 0;
			height: 90px;
			text-align: center;
			text-decoration: none;
			font-weight: bolder;
			&:hover {
				padding-top: 30px;
				color: $secondary;
				background-color: $primary;
				transition: 0.3s;
				transform: translateY(12px);
				transition-timing-function: ease-out;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	//desktop layout
	nav {
		font-size: 24px;
	}
	.menu-items {
		width: 70%;

		justify-content: space-between;
	}
}
