/*navbar container */
nav {
	position: relative;
	width: 100%;
	height: 90px;
	z-index: 10;
	background-color: #93c2fa;
	/*background-image: linear-gradient(
		to bottom,
		#93c2fa,
		#93c2fa,
		#ffffff
	);*/
	display: flex;
	/*Profile picture*/
	img {
		margin: auto;
		width: 70px;
		height: 60px;
		border-radius: 30%;
		/*	border: 3px solid rgba(0, 0, 0, 0.3);*/
	}
	/*Sandwich toggle */
	label {
		box-sizing: border-box;
		float: right;
		margin: auto 0;
		width: 50px;
		font-size: 30px;
		line-height: 50px;
	}
}

#toggle {
	display: none;
}
#toggle:checked + .menu-items {
	display: block;
}
#open {
	color: #000000;
}

.menu-items {
	background-image: linear-gradient(
		to top left,
		#93c2fa,
		#93c2fa,
		#93c2fa,
		#93c2fa,
		#ffffff
	);
	position: relative;
	padding-top: 50px;
	width: 70%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;

	a {
		display: block;
		color: #000000;
		text-align: center;
		padding: 20px;
		width: 100%;
		height: 60px;
		text-decoration: none;

		font-weight: bolder;
		&:hover {
			background-color: burlywood;
			border-radius: 10px;
			color: #000000;
			transition: 0.3s;
			transform: translateY(-12px);

			transition-timing-function: ease-out;
		}
		@media screen and (max-width: 850px) {
			font-size: 1em;
		}
	}
	display: none;
}

@media screen and (min-width: 768px) {
	nav {
		font-size: 18px;
		label {
			display: none;
		}
		img {
			width: 60px;
		}
	}
	.current-page-link {
		text-decoration: overline;
		&:hover {
			opacity: 0.2;
		}
	}
	.menu-items {
		position: relative;
		display: block;
		background-image: none;
		padding-top: 0px;
		width: 83%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		font-size: 1.3rem;

		a {
			position: relative;
			display: block;
			text-align: center;
			width: 100%;
			height: 100%;
			padding: auto;
			text-decoration: none;
			font-weight: bolder;
			&:hover {
				color: #000000;
				transition: 0.3s;
				transform: translateY(12px);
				transition-timing-function: ease-out;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	nav {
		font-size: 24px;
	}
	.menu-items {
		width: 70%;

		justify-content: space-between;
	}
}
