@import 'colors';

.h1-resume {
	margin: 10% 0;
}
//section component

.resume-text {
	font-size: 16px;
	line-height: 25px;
	padding: 5%;
	text-align: left;
}
.resume-btn {
	width: 200px;
	height: 40px;
}

.resume-page-hight {
	height: 2530px;
}

//skill box component
.skills-box {
	background-color: #d9d9d9;
	width: 90%;
	margin: 10% auto;
	border-radius: 10px;
	height: 1580px;
}
.h1-skills {
	padding: 10% 0;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.col-6 {
	width: 50%;
	padding-top: 30px;
}
.skills-img {
	width: 60px;
	height: 60px;
	margin: auto auto;
}

.skills-img-box {
	position: relative;
	display: flex;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border-radius: 50%;
	transition: transform 0.7s ease-in-out;
	&:hover {
		transition: 0.5s ease-in-out;
		transform: scale(1.2, 1);
		opacity: 0.8;
	}
}
.label {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	font-weight: bolder;
}
.skills-btn {
	width: 120px;
	height: 30px;
	opacity: 0;
	padding: auto;
	text-align: center;
	background-color: $primary;
	color: $secondary;
	border-radius: 10px;

	&:hover {
		background-color: $hovering;
		transition: 0.5s ease-in-out;
		transform: scale(1.1);
		opacity: 0.8;
	}
}

//skill icons component

@mixin icon {
	&:hover .skills-img {
		transform: rotateY(360deg);
		animation: rotation 1.5s;
	}
	&:hover .skills-btn {
		opacity: 1;
		margin: auto;
	}
}

#html5 {
	@include icon();
}

#css3 {
	@include icon();
}

#js {
	@include icon();
}

#react {
	@include icon;
	&:hover .skills-img {
		animation: rotationX 1.5s;
	}
}
#nodejs {
	@include icon();
}

#php {
	@include icon();
}

#mongodb {
	@include icon();
}

#mysql {
	@include icon();
}

#sass {
	@include icon();
}

#bootstrap {
	@include icon();
}

#materialui {
	@include icon();
}

#materialize {
	@include icon();
}

#firebase {
	@include icon();
}

#adobe {
	@include icon();
}

#vscode {
	@include icon();
}

#git {
	@include icon();
}

#trello {
	@include icon();
}

#slack {
	@include icon();
}
//skill icons animations

@keyframes rotation {
	0% {
		/*transform: rotateY(0deg);*/
	}
	20% {
		transform: rotateY(360deg);
	}
	60% {
		transform: rotateY(0deg);
	}
	70% {
		transform: rotateY(359deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

//skill reactJS icon animations
@keyframes rotationX {
	0% {
		/*transform: rotateY(0deg);*/
	}
	20% {
		transform: rotate(360deg);
	}
	60% {
		transform: rotate(0deg);
	}
	70% {
		transform: rotate(359deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@media screen and (min-width: 600px) {
	//Small size tablet layout
	.h1-skills {
		padding: 5% 0;
	}
	.col-6 {
		width: 33.33%;
	}
	.resume-page-hight {
		height: 2100px;
	}
	.skills-box {
		height: 1100px;
	}
}

@media screen and (min-width: 768px) {
	//tablet layout
	.resume-page-hight {
		height: 1900px;
	}
	.h1-resume {
		margin: 5% 0;
	}

	.resume-text {
		font-size: 20px;
		line-height: 30px;
		padding: 0% 5% 5% 5%;
		text-align: left;
	}
	.resume-btn {
		height: 40px;
	}
	.h1-skills {
		padding: 3% 0;
	}
	.col-6 {
		width: 25%;
	}
	.skills-box {
		height: 950px;
		width: 80%;
	}
}
@media screen and (min-width: 992px) {
	//desktop layout
	.resume-page-hight {
		height: 1720px;
	}
	.h1-resume {
		margin: 3% 0;
	}

	.resume-text {
		font-size: 20px;
		line-height: 30px;
		padding: 0% 10% 2% 10%;
		text-align: left;
	}

	.skills-box {
		height: 820px;
		width: 80%;
		margin: 5% auto;
	}
	.col-6 {
		width: 20%;
	}
}
